[Unit]
Description=Flantier der Geschenk Manager
After=network-online.target

[Service]
Type=simple

User=flantier
Group=flantier
WorkingDirectory=/home/flantier
ExecStart=/usr/bin/python3 -m flantier

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
