[Unit]
Description=Flantier der Geschenk Manager
After=network-online.target

[Service]
Type=simple

User=flantier
Group=flantier
WorkingDirectory=/srv/flantier
ExecStart=/usr/bin/python3 /srv/flantier/christmas-bot.py

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
