[Unit]
Description=Flantier der Geschenk Manager
After=network-online.target

[Service]
Type=simple
ExecStart=flantier

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
